
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions/v1/4m_ota.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions/v1/4m_ota.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000

CONFIG_XTAL_FREQ_26=y

CONFIG_FREERTOS_IDLE_TASK_STACKSIZE=768
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=1536
CONFIG_SYSTEM_EVENT_TASK_STACK_SIZE=2560
CONFIG_IPC_TASK_STACK_SIZE=1024
CONFIG_TIMER_TASK_STACK_SIZE=2048
CONFIG_ESP_MAIN_TASK_STACK_SIZE=4096

CONFIG_MQTT_USE_CUSTOM_CONFIG=y
CONFIG_MQTT_TASK_STACK_SIZE=3072

CONFIG_TCPIP_TASK_STACK_SIZE=2048
CONFIG_SYSTEM_EVENT_TASK_STACK_SIZE=2304
CONFIG_PTHREAD_TASK_STACK_SIZE_DEFAULT=2048

CONFIG_AUDIO_LOOP_TASK_STACK_SIZE=1280
CONFIG_VB6824_UART_TASK_STACK_SIZE=2560
CONFIG_VB6824_SEND_USE_TASK=n
# CONFIG_VB6824_SEND_TASK_STACK_SIZE=1280
