CONFIG_BOARD_TYPE_DOIT_ESP32S3_EYE_6824=y

CONFIG_DISPLAY_LCD_TYPE=LCD_GC9A01_240X240
CONFIG_USE_EYE_STYLE_VB6824=y
CONFIG_USE_AUDIO_CODEC_ENCODE_OPUS=y
CONFIG_VB6824_OTA_SUPPORT=y
CONFIG_USE_AFE_WAKE_WORD=n
CONFIG_USE_WAKE_WORD_DETECT=n
CONFIG_USE_AUDIO_PROCESSOR=n
CONFIG_USE_AUDIO_PROCESSOR=n